{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}List of all products{% endblock %}

{% block body %}

<div class="container">

    <div class="mb-2 p-2 bg-white">

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}